.input-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 100px;
}

.input-label {
  font-size: 18px;
  position: absolute;
  top: calc(50% - 0.5rem);
  left: 0.1rem;
  transition: all 300ms;
}

.input-element {
  padding: 14px 13px;
  width: 100%;
  border: none;
  font-size: 16px;
  outline: none;
  background-color: inherit;
  border-bottom: 1px solid #808080;
  transition: all 300ms;
}

.input-element::placeholder {
  opacity: 0;
  font-size: 18px;
}

.input-element:focus {
  border-bottom: 1px solid #1b66ca;
}

.input-element:focus::placeholder {
  transition: all 300ms;
  opacity: 1;
}

.input-element:focus + .input-label {
  top: calc(50% - 2.5rem);
  font-size: 16px;
}
